a[data-dest="blog"] {
    color: var(--color-peach) !important;
}

h1 {
    color: var(--color-text);
    font-size: 3rem;
    margin-left: 0;
    justify-content: center;
}

.title {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.title img {
    margin-right: 4px;
}

h3 {
    color: var(--color-subtext0);
    font-size: 1.5rem;
}

.posts {
    display: flex;
    flex-direction: column;
}

.post {
    display: flex;
    flex-direction: column;
    margin: 16px 0;
}

.post .title a {
    font-size: 1.5rem;
    text-decoration: none;
    color: var(--color-peach);
    margin-left: 4px;
}


.post .description {
    font-size: 1.25rem;
    color: var(--color-text);
}

.post .timestamp {
    font-size: 1rem;
    color: var(--color-subtext0);
}