a[data-dest="projects"] {
    color: var(--color-peach) !important;
}

.projects {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 16px;
    margin-top: 8px;
    column-width: fill-available;
}

@media screen and (max-width: 900px) {
    .projects {
        grid-template-columns: 1fr 1fr;
        justify-items: center;
    }
}

@media screen and (max-width: 500px) {
    .projects {
        grid-template-columns: 1fr;
        justify-items: center;
    }
}

.project {
    text-align: center;
    width: 100%;
    max-height: 384px;
    text-decoration: none;
    display: flex;
    flex-direction: column;
}

.project span.name {
    display: block;
    font-size: 24px;
    color: var(--color-peach);
}

.project:hover span.name {
    text-decoration: underline;
}

.project span.description {
    margin-bottom: 8px;
}

.project span {
    display: block;
    font-size: 16px;
    color: var(--color-subtext0);
}

.project span.lifespan {
    margin-top: 8px;
}

.project img {
    display: block;
    width: 100%;
    aspect-ratio: 16 / 9;
    height: auto;
    image-rendering: auto;
    object-fit: contain;
    margin: auto 0;
}