{% extends 'base.html' %}

{% block title %}sylvie's couch{% endblock %}

{% block header %}
<link href="{{ url_for('static', filename='css/admin/couch.css') }}" rel="stylesheet" type="text/css">
{% endblock %}

{% block content %}
    <h1>sylvie's couch</h1>
    <a href="{{ url_for("admin.journal") }}">feel like writing?</a>
    <a href="{{ url_for("admin.visitors") }}">or perhaps you have some messages waiting?</a>
    <a href="{{ url_for("admin.project") }}">or do you have something you're excited about?</a>
    <a href="{{ url_for("admin.custom_route") }}">or are you interested in some cartography?</a>

    <form action="{{ url_for("admin.upload_file") }}" method="POST" enctype="multipart/form-data">
        <label for="file">
            file upload
        </label>
        <input type="file" name="file" />

        <button type="submit" class="styled-input">upload</button>
    </form>
{% endblock %}