{% extends 'base.html' %}

{% block title %}sylvie's map wall{% endblock %}

{% block header %}
<link href="{{ url_for('static', filename='css/admin/visitor.css') }}" rel="stylesheet" type="text/css">
{% endblock %}

{% block content %}
    <h1>map wall</h1>

        <form action="{{ url_for("admin.add_custom_route") }}" method="POST">
        <label>
            route name
            <input type="text" name="name" placeholder="blacklist.txt" class="styled-input" required />
        </label>

        <label>
            route destination
            <input type="text" name="destination" placeholder="https://paste.sylvie.lol/sdfsdfsdfsdf.txt" class="styled-input" required />
        </label>

        <button type="submit" class="styled-input">add</button>
    </form>

    <form action="{{ url_for("admin.remove_custom_route") }}" method="POST">
        <label>
            delete route
            <input type="text" name="name" placeholder="blacklist.txt" class="styled-input" required />
        </label>

        <button type="submit" class="styled-input">remove</button>
    </form>
{% endblock %}