{% extends 'base.html' %}

{% block title %}blog{% endblock %}

{% block header %}
<link href="{{ url_for('static', filename='blog-base.css') }}" rel="stylesheet" type="text/css">
<link href="{{ url_for('static', filename='blog-explore.css') }}" rel="stylesheet" type="text/css">
{% endblock %}

{% block content %}
<div class="title">
    <h1>Sylvie's Blog</h1>
    <h3>Some writeups on what I've been working on.</h3>
</div>
<div class="posts">
    {% for post in posts %}
    <div class="post">
        <div class="post-title">
            <a href="{{ post.get_url() }}">{{ post.title }}</a>
            <span>{{ post.format_timestamp() }}</span>
        </div>
        <span class="description">{{ post.description }}</span>
    </div>
    {% endfor %}
</div>
{% endblock %}