{% extends 'base.html' %}

{% block title %}{{ post.title }}{% endblock %}

{% block header %}
<link href="{{ url_for('static', filename='blog-base.css') }}" rel="stylesheet" type="text/css">
<link href="{{ url_for('static', filename='blog-post.css') }}" rel="stylesheet" type="text/css">
{% endblock %}

{% block meta %}
<!-- These are by default, but individual pages will want to overwrite these -->
<!-- Primary Meta Tags -->
<meta name="title" content="{{ post.title }}" />
<meta name="description" content="{{ post.description }}" />
<meta name="theme-color" content="#e2b27e">

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website" />
<meta property="og:url" content="https://sylvie.lol/" />
<meta property="og:title" content="{{ post.title }}" />
<meta property="og:description" content="{{ post.description }}" />
<meta property="og:image" content="https://sylvie.lol/static/assets/profile-128.png" />

<!-- Twitter -->
<meta property="twitter:card" content="summary" />
<meta property="twitter:url" content="https://sylvie.lol/" />
<meta property="twitter:title" content="{{ post.title }}" />
<meta property="twitter:description" content="{{ post.description }}" />
<meta property="twitter:image" content="https://sylvie.lol/static/assets/profile-128.png" />
{% endblock %}

{% block content %}
<div class="navbar">
    <a href="/">[ABOUT]</a>
    <a href="/blog" class="we-are-here">[BLOG]</a>
    <a href="/contact">[CONTACT]</a>
</div>
<div class="title">
    <a href="{{ url_for('blog_explore') }}" class="back">&lt;&lt; Back to all posts</a> <a href="{{ url_for('blog_switchfont') }}">Switch Font</a>
    <h1>{{ post.title }}</h1>
    <h3>{{ post.format_timestamp() }}</h3>
    <h3>{{ post.description }}</h3>
</div>
<div class="content">
    {{ post.markdown_content()|safe }}
</div>
{% endblock %}