.flex {
    height: auto;
}

.container {
    height: auto;
}

/* Base styles */
.title {
    margin: 16px;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
    margin: 4px;
}

h1 {
    font-size: 40px;
}

h2 {
    font-size: 32px;
}

h3, h4, h5, h6 {
    color: var(--color-subtext0);
    font-size: 20px;
}
