.flex {
    height: auto;
}

.container {
    height: auto;
}

/* Navbar */
.navbar {
    background-color: var(--color-base);
    height: 48px;
    font-size: 23px;
    box-sizing: border-box;
    padding: 12px;
}

a {
    text-decoration: none;
    color: var(--color-pink);
}


.navbar a {
    color: var(--color-text);
}

a.we-are-here {
    color: var(--color-pink);
}

/* Base styles */
.title {
    margin: 16px;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
    margin: 4px;
}

h1 {
    font-size: 40px;
}

h2 {
    font-size: 32px;
}

h3, h4, h5, h6 {
    color: var(--color-subtext0);
    font-size: 20px;
}
