/* Card */
.content {
    margin: 16px;
}

h1, h3 {
    text-align: center;
    font-weight: normal;
}

h3 {
    color: var(--color-subtext0);
}

.content span {
    display: block;
    font-size: 24px;
}

.recommended {
    color: var(--color-subtext0);
    font-size: 20px !important; /* I dislike !important, but it's not really too bad here so. */
}

@media screen and (max-width: 680px) { /* We are probably on mobile */
    .content a {
        display: block;
    }

    .content {
        text-align: center;
    }
}