@media screen and (max-width: 680px) { /* We are probably on mobile */
    .time {
        display: none;
    }

    .navbar {
        text-align: center;
    }
}

/* Card */
.content {
    margin: 16px;
}

.card {
    display: flex;
}

.card img {
    width: 80px;
    height: 80px;
}

.info-list {
    margin-left: 16px;
    display: block;
    line-height: 1;
}

.info-list span {
    width: 100%;
    display: block;
    font-size: 23px;
}

.info-list .pronouns {
    color: var(--color-subtext0);
}

.info-list .name {
    color: var(--color-pink);
    font-size: 31px;
}

/* Card > Links */
.quick-links {
    margin-top: 4px;
}

.quick-links a:nth-of-type(1) { /* Discord */
    color: var(--color-blue);
}

.quick-links a:nth-of-type(2) { /* Modrinth */
    color: var(--color-green);
}

.quick-links a:nth-of-type(3) { /* GitHub */
    color: var(--color-peach);
}

/* Content */
p {
    width: 100%;
}

/* 88x31 */
.eighteightthreeone img.clickable:hover {
    outline: 1px var(--color-text) solid
}

.add-your-own {
    color: var(--color-subtext0);
    font-size: 16px;
}

@media screen and (max-width: 680px) { /* We are probably on mobile */
    .add-your-own {
        display: none;
    }
}