{% extends 'base.html' %}

{% block title %}contact{% endblock %}

{% block header %}
<link href="{{ url_for('static', filename='contact.css') }}" rel="stylesheet" type="text/css">
{% endblock %}

{% block content %}
<div class="content">
    <h1>Contact me!</h1>
    <span><a href="https://discord.com/users/269856865008091138">[DISCORD]</a> @sylvxa</span>
    <span class="recommended">^ quickest! ^</span>
    <span><a href="mailto:me@sylvie.lol">[EMAIL]</a> me@sylvie.lol</span>
    <h3>&#40;TIP: the time displayed in the top right is in my timezone, proceed with caution outside of normal work hours.&#41;</h3>
</div>
{% endblock %}
