{% extends 'base.html' %}

{% block title %}contact{% endblock %}

{% block header %}
<link href="{{ url_for('static', filename='contact.css') }}" rel="stylesheet" type="text/css">
{% endblock %}

{% block content %}
<div class="navbar">
    <a href="/">[ABOUT]</a>
    <a href="/blog">[BLOG]</a>
    <a href="/contact" class="we-are-here">[CONTACT]</a>
    <span class="time" title="Time in my timezone">12:00</span>
</div>
<div class="content">
    <h1>Contact me! :3</h1>
    <span><a href="https://discord.com/users/269856865008091138">[DISCORD]</a> @sylvxa</span>
    <span class="recommended">^ quickest! ^</span>
    <span><a href="https://twitter.com/sylvxaissleepy">[TWITTER]</a> @sylvxaissleepy</span>
    <span><a href="mailto:sylvia@sylvie.lol">[ EMAIL ]</a> sylvia@sylvie.lol</span>
    <h3>&#40;TIP: the time displayed in the top right is in my timezone, proceed with caution outside of normal work hours.&#41;</h3>
</div>
{% endblock %}
