{% extends 'base.html' %}

{% block title %}home{% endblock %}

{% block header %}
<link href="{{ url_for('static', filename='home.css') }}" rel="stylesheet" type="text/css">
{% endblock %}

{% block content %}
<div class="navbar">
    <a href="/" class="we-are-here">[ABOUT]</a>
    <a href="/blog">[BLOG]</a>
    <a href="/contact">[CONTACT]</a>
    <span class="time" title="Time in my timezone">12:00</span>
</div>
<div class="content">
    <div class="card">
        <div class="image">
            <img src="{{ url_for('static', filename='assets/profile-128.png') }}" alt="Sylvia's profile picture">
        </div>
        <div class="info-list">
            <span class="name">sylvxa</span>
            <span class="pronouns">she/her</span>
            <span class="quick-links">
                <a href="https://discord.com/users/269856865008091138" title="@sylvxa on Discord">[DISCORD]</a> / <a href="https://modrinth.com/user/sylvxa" title="sylvxa on Modrinth">[MODRINTH]</a> / <a href="https://github.com/sylvxa" title="sylvxa on GitHub">[GITHUB]</a>
            </span>
        </div>
    </div>
    <div class="info">
        <!-- INSERT VIA MARKDOWN -->
        {{ home_text | safe }}
    </div>
    <div class="eighteightthreeone">
        <!-- INSERT IMAGES -->
        <div class="gifs">
            {% for link in eeto %}
                <img src="{{ link }}" alt="88x31">
            {% endfor %}
        </div>
        <span class="add-your-own">
            Do you have a 88x31 of your own? Contact me!
        </span>
    </div>
</div>
{% endblock %}